apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: go-sight-backend
data:
  prometheus.yml: |
    # Global configuration for Prometheus
    global:
      # How frequently to scrape targets by default
      scrape_interval: 15s
      # How frequently to evaluate alerting rules
      evaluation_interval: 15s

    # Scrape configurations for different monitoring targets
    scrape_configs:
      # Configuration for scraping metrics from the Go API service
      - job_name: 'go-api'
        static_configs:
          # Target endpoint for the Go API service
          - targets: ['api:8000']
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: prometheus
  namespace: go-sight-backend
spec:
  serviceName: prometheus
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.55.0
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
            - "--web.enable-lifecycle"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
            - name: data
              mountPath: /prometheus
      volumes:
        - name: config
          configMap:
            name: prometheus-config
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: go-sight-backend
spec:
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
